<div class="profile-container">
  <h2 class="profile-title">Profile</h2>
  <img src="{{surfer.profilePicture}}" class="profile-picture">
  <h6>First Name:</h6>
  <p>{{surfer.fname}}</p>
  <h6>Last Name:</h6>
  <p>{{surfer.lname}}</p>
  <h6>Email</h6>
  <p>{{surfer.username}}</p>
  <a href="/send-message/{{surfer._id}}"><button>Email {{surfer.fname}}</button></a>
</div>