<div class="container trip-container">
  <h2 class="trip-title">{{surfTrip.title}}</h2>
  <img src="{{surfTrip.picture}}" class="trip-page-image">
  <p class="trip-location">{{surfTrip.location}}</p>

  <div class="trip-page-info">
    {{!-- <h3>Hello {{user.username}}</h3> --}}
    <h6>Description:</h6>
    <p>{{surfTrip.description}}</p>
    <h6>Created By:</h6>
    <p>{{surfTrip.creator}}</p>
    {{!-- <ul class="members-list">
      {{#each surfTrip.members}}
        <li class="members-list-item">{{this}}</li>
      {{/each}}
    </ul><br> --}}
    {{#if user._id}}
      <form method="POST" action="">
        <button type="submit">Join Squad</button>
      </form>
    {{else}}
      <a href="/login"><button>Log In to Join Squad</button></a>
    {{/if}}
  </div>
</div>

<script>
  /*
  $("button").click(function(){
    console.log('hey')
    $.post("/addUserToSquad", {info:'whatever'}, function(backFromServer){
      console.log(backFromServer, ' now u can add this by appending it with jquery')
      $('.members-list').append('<li>embers-list-item</li>')
    })
  })*/

</script>