<div class="container trip-container">
  <h2 class="trip-title">{{surfTrip.title}}</h2>
  <img src="{{surfTrip.picture}}" class="trip-page-image">
  <p class="trip-location">{{surfTrip.location}}</p>

  <div class="trip-page-info">
    <h6>Description:</h6>
    <p>{{surfTrip.description}}</p>
    <h6>Created By:</h6>
    <a href="/surfers/{{surfTrip.creator._id}}"><p>{{surfTrip.creator.username}}</p></a>
    <h6>AirBnb Link:</h6>
    <a href="{{surfTrip.airbnbLink}}" class="airbnb-link">Click Here</a>
    <h6 class="members-title">Who's All Going:</h6>
    <ul class="members-list">
      {{#each surfTrip.members}}
        <a href="/surfers/{{this._id}}"><li>{{this.fname}} {{this.lname}}</li></a>
      {{/each}}
    </ul>

    {{#if ownIt}}
      <div class="own-action-buttons">
        <form method="POST" action="/trip/delete/{{surfTrip._id}}" class="delete-trip">
          <button type="submit" class="delete-button">Delete Trip</button>
        </form>
        <form method="POST" action="/trip/edit/{{surfTrip._id}}">
          <button type="submit">Edit Trip</button>
        </form>
      </div>
    {{else}}
      {{#if joined}}
        <h6 class="already-member">*You are a member of this trip!*</h6>
        <div>
          <form method="POST" action="/trip/leave/{{surfTrip._id}}">
            <button type="submit">Leave Trip</button>
          </form>
        </div>
        {{else}}
        <div class="visitor-action-button">
          <form method="POST" action="/trip/join/{{surfTrip._id}}">
            <button type="submit">Join Trip</button>
          </form>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>

<script>
  /*
  $("button").click(function(){
    console.log('hey')
    $.post("/addUserToSquad", {info:'whatever'}, function(backFromServer){
      console.log(backFromServer, ' now u can add this by appending it with jquery')
      $('.members-list').append('<li>embers-list-item</li>')
    })
  })*/

</script>