<div class="container trip-container">
  <h2 class="trip-title">{{surfTrip.title}}</h2>
  <img src="{{surfTrip.picture}}" class="trip-page-image">
  <p class="trip-location">{{surfTrip.location}}</p>

  <div class="trip-page-info">
    <h6>Description:</h6>
    <p>{{surfTrip.description}}</p>
    <h6>Created By:</h6>
    <a href="/surfers/{{surfTrip.creator._id}}"><p>{{surfTrip.creator.username}}</p></a>

    {{#if ownIt}}
      <div class="own-action-buttons">
        <form method="POST" action="/trip/delete/{{surfTrip._id}}" class="delete-trip">
          <button type="submit" class="delete-button">Delete Trip</button>
        </form>
        <form method="POST" action="/trip/edit/{{surfTrip._id}}">
          <button type="submit">Edit Trip</button>
        </form>
      </div>
    {{else}}
      <div class="visitor-action-button">
        <form method="POST" action="/trip/join/{{surfTrip._id}}">
          <button type="submit">Join Squad</button>
        </form>
      </div>
    {{/if}}
  </div>
</div>

<script>
  /*
  $("button").click(function(){
    console.log('hey')
    $.post("/addUserToSquad", {info:'whatever'}, function(backFromServer){
      console.log(backFromServer, ' now u can add this by appending it with jquery')
      $('.members-list').append('<li>embers-list-item</li>')
    })
  })*/

</script>